@inherits LayoutComponentBase
@inject IConfiguration config

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://ThinkBase.ai/terms" target="_blank">Terms</a>
            <a href="https://ThinkBase.ai/privacy" target="_blank">Privacy</a>
            <a href="@config["SubscribeUrl"]" target="_blank">Subscribe</a>
            <a href="@config["SupportUrl"]" target="_blank">Support</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
