@using Microsoft.Fast.Components.FluentUI
@inject IConfiguration config

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="/ThinkbaseLogo_50.png" alt="Logo"> ThinkBase SaaS API</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <FluentIcon Name="@FluentIcons.Organization" Slot="start" Size="IconSize.Size24" Color="Color.Accent"/> &nbsp; &nbsp; Knowledge Graphs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="viewer">
                <span><iconify-icon icon="vscode-icons:file-type-graphql" width="20"></iconify-icon></span> &nbsp; &nbsp; GraphQL viewer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="documents">
                <FluentIcon Name="@FluentIcons.Info" Slot="start" Size="IconSize.Size24" Color="Color.Accent" />  &nbsp; &nbsp; Documentation
            </NavLink>
        </div>
    </nav>
    <div class="m-sm-4">
        <p class="small text-white">
            <a href="@config["SubscribeUrl"]" class="link-light">Subscribe</a>
            <br/>
            <a href="https://admin.microsoft.com" class="link-light">Manage subscription</a>
        </p>
        <p class="small text-white">
            ThinkBase LLC is a distributed and automated company.
            We exist to create and market intellectual property in the fields of AI, ML and NLP. Contact us via Sales for any investment, integration or alliance inquiries.
        </p>
        <ul class ="small text-white list-unstyled">
            <li>Support: <a href="mailto:support@thinkbase.ai" class="link-light">support@thinkbase.ai</a></li>
            <li>Sales: <a href="mailto:sales@thinkbase.ai" class="link-light">sales@thinkbase.ai</a></li>
            <li>Ph: +1 307 291 0705</li>
            <li>Fx: +1 307 222 0296</li>
        </ul>
        <p class="small text-white">
            &copy; @DateTime.Now.Year - ThinkBase LLC. 
            <br />DARL&reg; is a trademark of ThinkBase. 
            <br />RQRF.
            <br />Graphics by <a href="http://afwedmonds.com" class="link-light">A.F.W.Edmonds</a>
        </p>
        <img src="/MS_Startups_Celebration_Badge_Dark_small.png" alt="Microft for Startups logo" />
    </div>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
