
#root {
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

p, a, h1, h2, h3, h4, ul, pre, code {
    margin: 0;
    padding: 0;
    color: inherit;
}

    a:active, a:focus, button:focus, input:focus {
        outline: none;
    }

input, button, submit {
    border: none;
}

input, button, pre {
    font-family: 'Open Sans', sans-serif;
}

code {
    font-family: Consolas, monospace;
}

.loading {
    font-size: 32px;
    font-weight: 200;
    color: rgba(255,255,255,.6);
    margin-left: 20px;
}

img {
    width: 78px;
    height: 78px;
}

.title {
    font-weight: 400;
}

.playground 
{
    width: 100%
}
