@using Microsoft.JSInterop
@using ThinkBase.ComponentLibrary.Models;
@inject IJSRuntime _jsRuntime
@implements IAsyncDisposable


<div id="root" @ref="_dedit">
    <img src='//cdn.jsdelivr.net/npm/graphql-playground-react/build/logo.png' alt=''>
    <div class="loading">
      Loading <span class="title">GraphQL Playground</span>
    </div>
</div>

@code {
    [CascadingParameter] public UserAuth auth { get; set; }
    private ElementReference _dedit;
    private IJSObjectReference? _deditModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _deditModule = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Shared/Playground.razor.js");
            var header = $"{{\"Authorization\": \"Basic {auth.userId}{auth.tenantId}\"}}";
            await _deditModule.InvokeVoidAsync("initialize", _dedit, header);
            await base.OnInitializedAsync();
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (_deditModule is not null)
        {
            await _deditModule.DisposeAsync();
        }
    }
}
