@using Microsoft.JSInterop
@inject IJSRuntime _jsRuntime
@implements IAsyncDisposable

<div id="voyager" @ref="_dedit">Loading...</div>

@code {
    private ElementReference _dedit;
    private IJSObjectReference? _deditModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _deditModule = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Shared/Voyager.razor.js");
            await _deditModule.InvokeVoidAsync("initialize", _dedit);
            await base.OnInitializedAsync();
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (_deditModule is not null)
        {
            await _deditModule.DisposeAsync();
        }
    }
}
