@page "/documents"
@inject IConfiguration config

<PageTitle>ThinkBase Documentation</PageTitle>
<div>
    <iframe src="@config["DocumentationAddress"]"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            scrolling="auto"></iframe>
</div>
@code {

}
