@page "/viewer"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ThinkBase.ComponentLibrary.Models;
@inject IConfiguration config
@inject AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>ThinkBase GraphQL API</PageTitle>

<AuthorizeView Policy="appSource">
    <Authorized>
        <CascadingValue Value="auth">
            <Playground />
        </CascadingValue>
    </Authorized>
    <NotAuthorized>
        <h3>Welcome to the ThinkBase GraphQL API viewer</h3>
        <p>This gives you interactive access to our GraphQL API for test and development.</p>
        <p>You need to be signed in and subscribed to use this page.</p>
        <p>Subscribe at <a href="@config["SubscribeUrl"]">@config["SubscribeLabel"]</a>.</p>
    </NotAuthorized>
 </AuthorizeView>

@code {
    private UserAuth auth { get; set; } = new UserAuth();
    protected override async Task OnParametersSetAsync()
    {
        await GetClaimsPrincipalData();
        await base.OnParametersSetAsync();
    }


    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity!.IsAuthenticated)
        {
            auth.userId = user.FindFirst(c => c.Type == "oid")?.Value ?? "";
            auth.tenantId = user.FindFirst(c => c.Type == "tid")?.Value ?? "";
        }
    }
}
