@page "/"
@using Microsoft.AspNetCore.Authorization
@using ThinkBase.ComponentLibrary.KGSelection
@using ThinkBase.ComponentLibrary.Models;
@inject IConfiguration config
@inject AuthenticationStateProvider AuthenticationStateProvider

<!--
<PageTitle>ThinkBase SaaS</PageTitle>
-->
<AuthorizeView Policy="appSource">
    <Authorized>
        <CascadingValue Value="auth">
            <GraphSelection/>
        </CascadingValue>
    </Authorized>
    <NotAuthorized>
        <h3>Welcome to the ThinkBase SaaS site</h3>
        <p>Using a GraphQL API, ThinkBase SaaS gives you programmatic access to all of ThinkBase functionality.</p>
        <p>ThinkBase is a system that helps you build Knowledge Graphs for your problem domain, and then turn them into active models using a Fuzzy-Logic rules-based inference engine.</p>
        <p>Once you've built a Knowledge graph, you can interact with it in two ways: via the chat interface in Microsoft Teams, or programmatically over the GraphQL API here.</p>
        <p>You can get the Teams App <a href="@config["TeamsAppAddress"]">here</a>. Any Knowledge Graphs you edit or create here will be available in your Teams App and vice versa.</p>
        <p>Knowledge Graphs can be downloaded, exchanged and uploaded. <a href="mailto:sales@thinkbase.ai">We can support you using them within your own software if required.</a></p>
        <p><i>You need to subscribe at <a href="@config["SubscribeUrl"]">@config["SubscribeLabel"]</a> to use this site.</i> <span class="text-primary">There's a 30 day free trial!</span></p>
        <p>You can manage your subscriptions at the <a href="https://admin.microsoft.com">Microsoft 365 admin center</a> under <i>Billing/Your products</i>. You, or your site administrator, will need to assign you a license before you can get access. </p>
    </NotAuthorized>
</AuthorizeView>
    

@code {
    private UserAuth auth { get; set; } = new UserAuth();
    protected override async Task OnParametersSetAsync()
    {
        await GetClaimsPrincipalData();
        await base.OnParametersSetAsync();
    }


    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity!.IsAuthenticated)
        {
            auth.userId = user.FindFirst(c => c.Type == "oid")?.Value ?? "";
            auth.tenantId = user.FindFirst(c => c.Type == "tid")?.Value ?? "";
        }
    }
}