@page "/"

@using System.Security.Claims;
@using ThinkBase.ComponentLibrary.Interfaces;
@using ThinkBase.ComponentLibrary.KGSelection
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IConfiguration config

<PageTitle>ThinkBase SaaS</PageTitle>

<AuthorizeView>
    <Authorized>
        <GraphSelection userId="@userId" />
    </Authorized>
    <NotAuthorized>
        <h3>Welcome to the Thinkbase SaaS site</h3>
        <p>Using a GraphQL API, ThinkBase SaaS gives you programmatic access to all of ThinkBase functionality.</p>
        <p>ThinkBase is a system that helps you build Knowledge Graphs of your problem domain, and then turn them into active models using a Fuzzy-Logic rules-based inference engine.</p>
        <p>Once you've built a Knowledge graph, you can interact with it in two ways: via the chat interface in Teams, or programmatically over the GraphQL API here.</p>
        <p>You can get the Teams App <a href="@config["TeamsAppAddress"]">here</a>. Any Knowledge Graphs you edit or create here will be available in your Teams App and vice versa.</p>
        <p>Knowledge Graphs can be downloaded, exchanged and uploaded. We can support you using them within your own software if required.</p>
        <p>You need to sign up at <a href="@config["SubscribeUrl"]">@config["SubscribeLabel"]</a> to use this API.</p>
    </NotAuthorized>
</AuthorizeView>
    

@code {
    private string userId { get; set; } = "";
    private string tenantId { get; set; } = "";

    protected override async Task OnParametersSetAsync()
    {
        await GetClaimsPrincipalData();
        await base.OnParametersSetAsync();
    }


    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity!.IsAuthenticated)
        {
            userId = user.FindFirst(c => c.Type == "oid")?.Value ?? "";
            tenantId = user.FindFirst(c => c.Type == "tid")?.Value ?? "";
        }
    }
}