<header>
    <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-4">
        <div class="container">
            <a class="navbar-brand" href="https://darl.ai">
                <img src="/images/logo.png" alt="">
                GraphQL API<span style="color: #0026ff"> &beta;</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarSupportedContent">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="api">API</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="voyager">API objects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="ThinkBaseVR">VR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="docs">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="docs/darl_dev/" target="_blank"><img src="~/images/help_small.png" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
