@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Options
@using System.Security.Principal


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ThinkBase documentation</title>
    <style>

        body {
            height: 100%;
            margin: 0;
            overflow: auto;
            width: 100%;
        }
    </style>
    @RenderSection("header", required: false)

    @RenderSection("StyleSheets", required: false)
    <script>
     (function () {
       var e,i=["https://fastbase.com/fscript.js","U4SjcJZnNl","script"],a=document,s=a.createElement(i[2]);
       s.async=!0,s.id=i[1],s.src=i[0],(e=a.getElementsByTagName(i[2])[0]).parentNode.insertBefore(s,e)
     })();
    </script>
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)

</body>
</html>