<footer class="footer text-center">
    <p class="footer">&copy; @DateTime.Now.Year - Thinkbase, LLC. DARL® is a registered trademark of Thinkbase, LLC. <a href="https://darl.ai/home/terms" target="_blank">Terms </a><a href="https://darl.ai/home/terms" target="_blank">Privacy </a>  RQRF, .Net core 5.0</p>
</footer>
