<footer class="footer text-center">
    <p class="footer ">&copy; @DateTime.Now.Year - Thinkbase, LLC. DARL® is a registered trademark of Thinkbase, LLC. <a href="https://thinkbase.ai/terms" target="_blank">Terms </a><a href="https://thinkbase.ai/privacy" target="_blank">Privacy </a>  RQRF, .Net core 6.0</p>
</footer>
