<header>
    <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-4">
        <div class="container">
            <a class="navbar-brand" href="https://thinkbase.ai">
                <img src="/images/logo.png" alt="DARL"><span style="color: #0026ff">&beta;</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="index" title="Home"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="api" title="GraphQL API"><img src="~/images/GraphQL_Logo.png"/></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="voyager" title="API objects"><i class="fas fa-project-diagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="ThinkBaseVR" title="VR view"><i class="fas fa-vr-cardboard"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="docs" title="Documentation"><i class="fa fa-book"></i></a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="modal" href="#modalPricing" class="nav-link text-dark" title="Subscribe"><i class="fa fa-shopping-cart"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" href="https://discord.gg/4BaqGFukNG" title="Discord for support"><i class="fab fa-discord"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="https://github.com/thinkbase-ai/ThinkBase.Client" title="Client source code"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="nav-item">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a href="/MicrosoftIdentity/account/signin" class="nav-link text-dark" title="Sign in/Register"><i class="fas fa-sign-in-alt"></i></a>
                        }
                        else
                        {
                            <a href="/MicrosoftIdentity/account/signout" class="nav-link text-dark" title="Sign out"><i class="fas fa-sign-out-alt"></i></a>
                        }
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <form method="POST" asp-page="./index">
                                <button class="btn btn-link text-dark" type="submit"><i class="fas fa-file-invoice-dollar" title="Billing"></i></button>
                            </form>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="API key">
                                <i class="fa fa-key"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <textarea class="dropdown-item text-dark" id="authHeader">{"Authorization": "Basic @User.Claims.Single(a => a.Type == "apikey").Value"}</textarea>
                                <button class="btn btn-link text-dark" type="button" id="copyButton" onclick="copyKey()" title="Copy to clipboard"><i class="far fa-copy"></i></button>
                            </div>
                        </li>            
                    }
                   <li class="nav-item">
                        <a class="nav-link text-dark" href="rss" title="RSS feed"><i class="fa fa-rss"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<script>
    function copyKey ()
    {
        var keyText = $('#authHeader').val();
        navigator.clipboard.writeText(keyText);
    }
</script>
