@page
@model Darl.GraphQL.Pages.BotTreeModel
@{
    ViewData["Title"] = "BotTree";
    Layout = "~/Pages/_layoutscrolling.cshtml";
}

<div class="space-70"></div>
<div class="container margin-b-40">
    <div class="row">
        <h1>Bot model editing</h1>
    </div>
    <div class="row">
        <div class="col-md-6 margin-b-40">
            <p>Select a bot model from your account to edit.</p>
            <label>Bot models </label>
            <select id="botmodel-dropdown" name="botmodel" class="dropdown"></select>
        </div>
        <div class="col-md-6 margin-b-40">
            <label>Or create a new bot model - choose a unique name.</label>
            <input id="botmodel-input" name="botmodelname" class="form-control">
            <button id="botmodel-create" class="btn btn-info">Create</button>
            <div class="pull-right">
                <label>Empty model? (otherwise default is used)</label>
                <input type="checkbox" id="empty_botmodel" class="checkbox-inline" />
            </div>
        </div>
    </div>
    <div class="space-90"></div>
    <div class="row">
        <div class="col-md-12 margin-b-40">
            <hr />
            <div class="container">
                <div class="row">
                    <h4>Recognition Tree</h4>
                </div>
                <div class="row">
                    <div id="botTree" class="col-md-6 margin-b-40">

                    </div>
                    <div class="col-md-6 margin-b-40">
                        <div>
                            <h4>Attributes for <i><span id="nodePathText"></span></i></h4>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" href="#response" role="tab" data-toggle="tab">Response</a></li>
                                <li class="nav-item"><a class="nav-link" href="#calltab" role="tab" data-toggle="tab">Call</a></li>
                                <li class="nav-item"><a class="nav-link" href="#advanced" role="tab" data-toggle="tab" id="advancedTab">Advanced</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane container active" id="response">
                                    <div id="responseedit">

                                    </div>
                                </div>
                                <div class="tab-pane container" id="calltab">
                                    <div id="calledit">

                                    </div>
                                </div>
                                <div class="tab-pane container" id="advanced">
                                    <div>
                                        <label>Darl code</label>
                                        <textarea id="code"></textarea>
                                    </div>
                                    <hr />
                                    <div id="roleEdit">
                                        <label for="roles">Limit access using authorizations</label><br />
                                        <select id="roles"></select>
                                    </div>

                                </div>
                            </div>
                            <div>
                                <button class="btn btn-info pull-right" id="saveAttributes">Save attributes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section StyleSheets
{
    <link rel="stylesheet" href="/codemirror/theme/neat.css" />
    <link rel="stylesheet" href="/codemirror/codemirror.css" />
    <link rel="stylesheet" href="/codemirror/addon/display/fullscreen.css" />
    <link rel="stylesheet" href="/codemirror/addon/hint/show-hint.min.css" />
    <link rel="stylesheet" href="/codemirror/addon/lint/lint.css" />
    <link rel="stylesheet" href="/codemirror/addon/fold/foldgutter.css" />
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
}

@section Scripts
{
    <script src="jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@json-editor/json-editor@1.3.5/dist/jsoneditor.min.js"></script>
    <script src="/codemirror/codemirror.js"></script>
    <script src="/codemirror/mode/javascript/javascript.js"></script>
    <script src="/codemirror/addon/display/fullscreen.js"></script>
    <script src="/codemirror/addon/hint/show-hint.js"></script>
    <script src="/codemirror/addon/fold/foldcode.min.js"></script>
    <script src="/codemirror/addon/fold/foldgutter.min.js"></script>
    <script src="/codemirror/addon/fold/brace-fold.min.js"></script>
    <script src="/codemirror/addon/lint/lint.js"></script>
    <script src="/codemirror/addon/lint/json-lint.min.js"></script>
    <script src="/darl-codemirror/darl-codemirror.js"></script>
    <script src="/graphql/graphql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>


    <script>
        var darlCodeMirror;
        var timeout;
        var mdname;
        var attResources;
        var graph;
        var allbotmodels;
        var createDefault;
        var createEmpty;
        var updateAtt;
        var phraseCreate;
        var phraseDelete;
        var getChildren;
        var deleteNode;
        var tree;
        var editorResponse;
        var editorCall;


        $(async function () {
            darlCodeMirror = CodeMirror.fromTextArea(document.getElementById("code"), {
                lineNumbers: true,
                theme: 'neat',
                mode: "text/x-darl",
                gutters: ["CodeMirror-lint-markers"],
                extraKeys: { "Ctrl-Space": "autocomplete" },
                lint: {
                    "getAnnotations": CodeMirror.remoteValidator,
                    "async": true,
                    "check_cb": check_syntax
                },
                viewportMargin: Infinity

            });
            //JSONEditor.defaults.options.iconlib = "fontawesome4";

            darlCodeMirror.on("inputRead", function (cm) {
                if (timeout) clearTimeout(timeout);
                timeout = setTimeout(function () {
                    CodeMirror.showHint(cm, CodeMirror.hint.darl, { completeSingle: false });
                }, 150);
            });

            darlCodeMirror.on("keyup", function (cm, event) {
                var keyCode = event.keyCode || event.which;
                if (keyCode == 8 || keyCode == 46) {
                    if (timeout) clearTimeout(timeout);
                    timeout = setTimeout(function () {
                        CodeMirror.showHint(cm, CodeMirror.hint.darl, { completeSingle: false });
                    }, 150);
                }
            });

            graph = graphql("/graphql");
            var apiKey = findGetParameter("apikey");
            if(apiKey !== null)
                graph = graphql("/graphql", { headers: { "Authorization": "Basic " + apiKey } });
            allbotmodels = graph(`{ botmodels { name }}`);
            var attPhrase = graph(`query getAttFromPhrase($model: String!, $phrase: String! ){getAttribute(botModelName: $model, phrase: $phrase ){response call darl accessRoles randomResponse randomResponses path present }}`);
            var attPath = graph(`query getAttFromPath($model: String!, $path: String! ){getAttributeFromPath(botModelName: $model, path: $path ){response call darl accessRoles randomResponse randomResponses path present }}`);
            var attResource = graph(`query getAttResources($model: String!){getLineageNodeAttributeResources(botModelName: $model){allRoles allRulesets ruleSkeleton insertionPointText }}`);
            createDefault = graph('mutation cdbm($name: String!){createDefaultBotModel(name: $name){name }}');
            createEmpty = graph('mutation cebm($name: String!){createEmptyBotModel(name: $name){name }}');
            updateAtt = graph('mutation uab($name: String!, $path: String!, $att: lineageNodeAttributeUpdate!){updateAttribute(botModelName: $name, path: $path, attribute: $att){ path}}');
            phraseCreate = graph('mutation pc($name: String!, $path: String!, $att: lineageNodeAttributeUpdate!){createPhrase(botModelName: $name, path: $path, attribute: $att){ definition}}');
            phraseDelete = graph('mutation pd($name: String!, $phrase: String!){deletePhrase(botModelName: $name, phrase: $phrase){ path}}');
            getChildren = graph('query gcln($model: String!, $path: String!, $root: Boolean!){getChildrenLineageNodes(botModelName: $model, path: $path, isRoot: $root){id text children definition attributes{ darl call } }}');
            deleteNode = graph('mutation nd($model: String!, $path: String!){deleteLineageNode(botModelName: $model, id: $path){id text children}}');
            await updateDropdown();
            $('#botmodel-dropdown').on('change', async function () {
                mdname = this.value;
                tree = $("#botTree");
                tree.jstree({
                    "core": {
                        "check_callback" : true,
                        "data":
                            async function (node, cb) {
                                var isRoot = false;
                                var key = node.id;
                                if (key === "#") {
                                    isRoot = true;
                                }
                                var r = await getChildren({ model: mdname, path: key, root: isRoot });
                                cb.call(this, r.getChildrenLineageNodes);
                            }
                    },
                    "plugins": ["wholerow", "unique", "contextmenu"]
                });
                $("#botTree").on('hover_node.jstree', function (e, data) {
                    data.instance.element.prop('title', data.node.definition);
                });
                $("#botTree").on('delete_node.jstree', async function (e, data) {
                    var r = deleteNode({model: mdname, path: data.node.id})
                    var parentNode = $("#botTree").jstree(true)._get_parent(data.node);
                    $("#botTree").jstree(true).refresh_node(parentNode);
                });

                $("#botTree").on('select_node.jstree', function (e, data) {
                    if (data.node.attributes != null) {
                        darlCodeMirror.setValue(data.node.attributes.darl);
                        rolesSelect.val(data.node.data.roles);
//                    editorResponse.setValue(data.node.data.response);
                        editorCall.setValue(data.node.attributes.call);
                    }
                    $("#nodePathText").text(data.node.id);
                    $("#lineageList").empty();
                });

                editorResponse = new JSONEditor(document.getElementById('responseedit'), {
                    theme: 'bootstrap4',
                    schema: {
                        "$schema": "http://json-schema.org/draft-04/schema#",
                        "title": "Edit text responses",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                            "randomResponse": {
                                "title": "Randomly selected responses",
                                "type": "boolean",
                                "format": "checkbox",
                                "description": "If checked one of the random responses will be given, otherwise the single response."
                            },
                           "response": {
                                "title": "A single response",
                                "type": "string",
                               "description": "The text you want to use to respond. Use MarkDown for any formatting.",
                                "format": "textarea",
                                "options": {
                                    "input_width": "500px"
                                }
                            },
                            "randomResponses": {
                                "title": "Possible responses",
                                "type": "array",
                                "format": "table",
                                "description": "The text you want to use to respond. Use MarkDown for any formatting.",
                                "items": {
                                    "type": "string",
                                    "format": "textarea",
                                    "options": {
                                        "input_width": "500px"
                                    }
                                }
                            }
                        }
                    },
                    collapsed: true,
                    disable_edit_json: true,
                    disable_properties: true,
                    disable_collapse: true,
                    disable_array_add: false,
                    disable_array_delete: false,
                    disable_array_reorder: true,
                    form_name_root: "responses",
                    iconlib: 'fontawesome4'
                });

                editorCall = new JSONEditor(document.getElementById('calledit'), {
                    theme: 'bootstrap4',
                    schema: {
                        "$schema": "http://json-schema.org/draft-04/schema#",
                        "type": "string",
                        "format": "table",
                        "title": "Called ruleset",
                        "description": "Ruleset that will be called when the phrase is recognized.",
                        "enum": ""
                        },
                    collapsed: true,
                    disable_edit_json: true,
                    disable_properties: true,
                    disable_collapse: true,
                    disable_array_add: true,
                    disable_array_delete: true,
                    disable_array_reorder: true,
                    form_name_root: "rulesets",
                    iconlib: 'fontawesome4'
                });


                $("#saveAttributes").on("click", async function (cm, event) {
                try {
                    var path = $("#nodePathText").text(); //selected node path
                    var resp = editorResponse.getValue();
                    await updateAtt({ name: mdname, path: path, att: { darl: darlCodeMirror.getValue(), call: editorCall.getValue(), response: resp.response, randomResponse: resp.randomResponse, randomResponses: resp.randomResponses } });
                }
                catch (err) {
                    alert(err[0].message);
                }
            });

            });


//            $('.nav-tabs a').on('shown.bs.tab', function () {
//            darlCodeMirror.refresh();
//            });

            CodeMirror.commands.autocomplete = function (cm) { cm.showHint({ hint: CodeMirror.hint.darl }); }

            $('#botmodel-create').click(async function () {
                mdname = $('#botmodel-input').val();
                try {
                    if ($('#empty_botmodel').prop('checked')) {
                        var res = await createEmpty({ name: mdname });
                    }
                    else {
                        var res = await createDefault({ name: mdname });
                    }
                    await updateDropdown();
                    alert(mdname + " created");
                }
                catch (err) {
                    alert(err[0].message);
                }
            });

           $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                darlCodeMirror.refresh();
            });
        });

        async function check_syntax(code, result_cb) {
            var lintCall = graph('query lint($darl: String!, $skeleton String!, $insertion String!){  lintDarl(darl: $darl, skeleton = $skeleton, insertion = $insertion){ column_no_start column_no_stop line_no message severity }}');
            var result = await lintCall({ darl: code, skeleton: attResources.getLineageNodeAttributeResources.ruleSkeleton, insertion: attResources.getLineageNodeAttributeResources.insertionPointText });
            result_cb(result.lintDarl);
        }

        function findGetParameter(parameterName) {
            var result = null,
                tmp = [];
            location.search
                .substr(1)
                .split("&")
                .forEach(function (item) {
                  tmp = item.split("=");
                  if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                });
            return result;
        }

        async function updateDropdown() {
            const rs = await allbotmodels();
            var dropdown = $('#botmodel-dropdown');
            dropdown.empty();
            dropdown.append('<option selected="true" disabled>Choose a bot model to edit</option>');
            dropdown.prop('selectedIndex', 0);
            $.each(rs.botmodels, function (key, entry) {
                dropdown.append($('<option class="dropdown-item"></option>').attr('value', entry.name).text(entry.name));
            });
        }




    </script>
}

@section header{
    <meta name="description" content="Edits the bot model." />
}

