@page
@model Darl.GraphQL.Pages.ConceptCloudModel
@{
    ViewData["Title"] = "Graph Edit";
    if (Environment.GetEnvironmentVariable("DOTNET_RUNNING_IN_CONTAINER") == "true")
    {
        if (!string.IsNullOrEmpty(Model.filepath))
        {
            RouteData.Values["kgraph"] = Model.filepath;
            Layout = "~/Pages/_layoutscrollingContainer.cshtml";
        }
        else //empty container
        {
            Layout = "~/Pages/_layoutEmptyContainer.cshtml";
        }
    }
    else
        Layout = "~/Pages/_layoutscrolling.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Root</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
</nav>
<div class="text-center">
    <h1 class="display-4">Concept cloud demo</h1>
    <canvas id="word_cloud" class="word_cloud" width="400" height="400"></canvas>
</div>

@section StyleSheets
{

}
@section Scripts
{
    <script src="~/WordCloud/wordcloud2.js"></script>

    <script>
        var graph;
        var settingsStorageName = 'thinkbase-settings';
        var graphName = "ai_triage.graph";
        var getConcepts;
        var address = "";

        $(async function () {
            var existing = window.localStorage.getItem(settingsStorageName);
            existing = JSON.parse(existing);
            var url = window.location.origin;
            var key = "";
            if (existing) {
                if (existing.url) {
                    url = existing.url;
                    if (url === "https://localhost:44311/index")
                        url = "https://localhost:44311";
                }
                if (existing.key) {
                    key = existing.key;
                }
            }
            graph = graphql(url + "/graphql");
            var apiKey = findGetParameter("apikey");
            if (apiKey !== null)
                graph = graphql(url + "/graphql", { headers: { "Authorization": "Basic " + apiKey } });
            else if (key !== null && key !== "")
                graph = graphql(url + "/graphql", { headers: { "Authorization": "Basic " + key } });
            getConcepts = graph(`query cc($name: String! $address: String!){ conceptCloud(graphName: $name address: $address ) {name value lineage }}`);
            await populateConceptCloud();

        });

        async function populateConceptCloud() {
            try {
                var concepts = await getConcepts({ name: graphName, address: address });
            }
            catch (err) {
                HandleError(err);
            }

            list = [];
            for (var i in concepts.conceptCloud) {
                list.push([concepts.conceptCloud[i]["value"], 30]);
            }

            WordCloud.minFontSize = "15px";
            WordCloud(document.getElementById('word_cloud'), {
                list: list, click: async function (item) {
                    address += item[0] + '/';
                    populateConceptCloud();
                }
            });
        }

        function findGetParameter(parameterName) {
            var result = null,
                tmp = [];
            location.search
                .substr(1)
                .split("&")
                .forEach(function (item) {
                    tmp = item.split("=");
                    if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                });
            return result;
        }

        function HandleError(err) {
            if (Array.isArray(err)) {
                alert(err[0].message);
            }
            else {
                alert(err);
            }
        }

    </script>
}

@section header
{

}


