@page
@model Darl.GraphQL.Pages.darleditorModel
@{
    Layout = "_Layout";
}

<div class="space-70"></div>
<div class="container margin-b-40">
    <div class="row">
        <div class="col-md-12 margin-b-40">
            <h1>Ruleset editing</h1>
            <p>Select a ruleset from your account to edit. The editor supports syntax checking and auto-complete. F11 for full-screen, ESC to return.</p>
            <label>Rulesets </label>
            <select id="ruleset-dropdown" name="rulesets" class="dropdown"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 margin-b-40">
            <textarea id="Darl" name="Darl" rows="100" cols="160" class="form-control"></textarea>
            <hr />
            <button id="Save" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>

@section StyleSheets
{
    <link rel="stylesheet" href="/codemirror/theme/neat.css" />
    <link rel="stylesheet" href="/codemirror/codemirror.css" />
    <link rel="stylesheet" href="/codemirror/addon/display/fullscreen.css" />
    <link rel="stylesheet" href="/codemirror/addon/hint/show-hint.min.css" />
    <link rel="stylesheet" href="/codemirror/addon/lint/lint.css" />
    <link rel="stylesheet" href="/codemirror/addon/fold/foldgutter.css" />
}

@section Scripts
{
    <script src="jquery/jquery.min.js"></script>
    <script src="/codemirror/codemirror.js"></script>
    <script src="/codemirror/mode/javascript/javascript.js"></script>
    <script src="/codemirror/addon/display/fullscreen.js"></script>
    <script src="/codemirror/addon/hint/show-hint.js"></script>
    <script src="/codemirror/addon/fold/foldcode.min.js"></script>
    <script src="/codemirror/addon/fold/foldgutter.min.js"></script>
    <script src="/codemirror/addon/fold/brace-fold.min.js"></script>
    <script src="/codemirror/addon/lint/lint.js"></script>
    <script src="/codemirror/addon/lint/json-lint.min.js"></script>
    <script src="/darl-codemirror/darl-codemirror.js"></script>
    <script src="/graphql/graphql.min.js"></script>

    <script>
        var darlCodeMirror;
        var timeout;
        $(async function () {
            darlCodeMirror = CodeMirror.fromTextArea(document.getElementById("Darl"), {
                matchBrackets: true,
                autoCloseBrackets: true,
                lineNumbers: true,
                theme: 'neat',
                mode: "text/x-darl",
                gutters: ["CodeMirror-lint-markers"],
                extraKeys: {
                    "Ctrl-Space": "autocomplete",
                    "F11": function (cm) {
                        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                        $('.navbar').hide();
                    },
                    "Esc": function (cm) {
                        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                        $('.navbar').show();
                    }
                },
                lint: {
                    "getAnnotations": CodeMirror.remoteValidator,
                    "async": true,
                    "check_cb": check_syntax
                }

            });
            darlCodeMirror.setValue(convertescapes('ruleset myfirstruleset \n{ \n}'));
            darlCodeMirror.setSize(1200, 800);

            darlCodeMirror.on("inputRead", function (cm) {
                if (timeout) clearTimeout(timeout);
                timeout = setTimeout(function () {
                    CodeMirror.showHint(cm, CodeMirror.hint.darl, { completeSingle: false });
                }, 150);
            });

            darlCodeMirror.on("keyup", function (cm, event) {
                var keyCode = event.keyCode || event.which;
                if (keyCode == 8 || keyCode == 46) {
                    if (timeout) clearTimeout(timeout);
                    timeout = setTimeout(function () {
                        CodeMirror.showHint(cm, CodeMirror.hint.darl, { completeSingle: false });
                    }, 150);
                }
            });

            var dropdown = $('#ruleset-dropdown');
            var rsname;
            dropdown.empty();
            dropdown.append('<option selected="true" disabled>Choose a ruleset to edit</option>');
            dropdown.prop('selectedIndex', 0);
            var graph = graphql("https://darl.dev/graphql");
            var apiKey = findGetParameter("apikey");
            if(apiKey !== null)
                graph = graphql("https://darl.dev/graphql", { headers: { "Authorization": "Basic " + apiKey } });
            var allrulesets = graph(`{ rulesets { name }}`);
            var darlContent = graph(`query getdarl($name: String!){  getDarlFromRuleSet(ruleSetName: $name)}`);
            var savecontent = graph('mutation setdarl($name: String!, $darl: String!){updateRuleSetDarl(name: $name, darl: $darl){name}}');
            const rs = await allrulesets();
            $.each(rs.rulesets, function (key, entry) {
                dropdown.append($('<option class="dropdown-item"></option>').attr('value', entry.name).text(entry.name));
            });

            $('#ruleset-dropdown').on('change', async function () {
                rsname = this.value;
                var content = await darlContent({ name: rsname });
                darlCodeMirror.setValue(convertescapes(content.getDarlFromRuleSet));
            });
            $('#Save').click(async function () {
                var content = darlCodeMirror.getValue();
                var name = await savecontent({ name: rsname, darl: content });
                alert(rsname + " saved");
            });


        });

        function check_syntax(code, result_cb) {
            var baseUri = "https://darl.ai/api/Linter/DarlLint";
            var jqxr = $.post(baseUri, { 'source': code }, function (data, status, xhr) {
                result_cb(data);
            });

        }
        function convertescapes(text) {
            text = text.replace(/&quot;/g, '"').replace(/&#39;/g, "'").replace(/&gt;/g, '>').replace(/&lt;/g, '<').replace(/&#x221E;/g, '∞').replace(/&#xD;/g, '\r').replace(/&#xA;/g, '\n').replace(/&#x9;/g, '\t').replace(/&#x2B;/g, '+').replace(/&#x27;/g, '\'');
            return unescape(text);
        }

        function findGetParameter(parameterName) {
            var result = null,
                tmp = [];
            location.search
                .substr(1)
                .split("&")
                .forEach(function (item) {
                  tmp = item.split("=");
                  if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                });
            return result;
        }

    </script>
}