@page
@model Darl.GraphQL.Pages.darlevaluatorModel
@{
    Layout = "_Layout";
}

<div class="space-70"></div>
<div class="container margin-b-40">
    <div class="row">
        <div class="col-md-12 margin-b-40">
            <h1>Ruleset evaluation</h1>
            <p>Select a ruleset from your account to evaluate.</p>
            <label>Rulesets </label>
            <select id="ruleset-dropdown" name="rulesets" class="dropdown"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 margin-b-40">
            <div class="grey-bg card ">
                <div class="card-body" id="ruleform">
                    <h4>Select a ruleset to create a dynamic questionnaire</h4>
                </div>
            </div>
        </div>
    </div>
</div>







@section Scripts
{
    <script src="/graphql/graphql.min.js"></script>
    <script src="darl-formql/darl-formql.js"></script>

    <script>

        var graph;
        $(async function () {

            var dropdown = $('#ruleset-dropdown');
            var rsname;
            dropdown.empty();
            dropdown.append('<option selected="true" disabled>Choose a ruleset to edit</option>');
            dropdown.prop('selectedIndex', 0);
            graph = graphql("/graphql");
            var apiKey = findGetParameter("apikey");
            if (apiKey !== null)
                graph = graphql("/graphql", { headers: { "Authorization": "Basic " + apiKey } });
            var allrulesets = graph(`{ rulesets { name }}`);
            const rs = await allrulesets();
            $.each(rs.rulesets, function (key, entry) {
                dropdown.append($('<option class="dropdown-item"></option>').attr('value', entry.name).text(entry.name));
            });

            $('#ruleset-dropdown').on('change', async function () {
                rsname = this.value;
                var form = await DARLForm('#ruleform', rsname, true, apiKey);
            });
        });

        function findGetParameter(parameterName) {
            var result = null,
                tmp = [];
            location.search
                .substr(1)
                .split("&")
                .forEach(function (item) {
                    tmp = item.split("=");
                    if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                });
            return result;
        }
    </script>
}
@section header{
    <meta name="description" content="Allows you to test the DARL code used to create questionnaires and fuzzy logic inference engines" />
}
