@page
@model Darl.GraphQL.Pages.EmptyContainerModel
@{
    Layout = "~/Pages/_layoutEmptyContainer.cshtml";
}

<div class="text-center">
    <H1 style="color:blue">Welcome to the ThinkBase Docker Container</H1>
    <p>This is provided as a reusable runtime for a single ThinkBase knowledge graph.</p>
    <p>To use it, first export a knowledge graph from your account at <a href="https://darl.dev">https://darl.dev</a>.</p>
    <p>Upload the knowledge graph using the form below.</p>
    <p>The resulting composite container can be freely used in your applications.</p>
    <p>Knowledge graph files are signed, so this container will only work with files generated from the darl.dev site.</p>
    <p>&nbsp;</p>
    <div class="row">
        <div class="container center_div">
            <form method="post" enctype="multipart/form-data">
                <input type="file" asp-for="Upload" />
                <input type="submit" />
            </form>
        </div>
    </div>
    <p>&nbsp;</p>
</div>
