@page
@{
    ViewData["Title"] = "GraphEdit";
    Layout = "~/Pages/_layoutscrolling.cshtml";
}
<div class="space-70"></div>
<div class="container margin-b-40">
    <div class="row">
        <h1>Knowledge Graph editing</h1>
    </div>
    <div class="row">
        <div class="col-md-6 margin-b-40">
            <p>Select a Knowledge Graph from your account to edit.</p>
            <label>Knowledge Graphs </label>
            <select id="kgmodel-dropdown" name="kgmodel" class="dropdown"></select>
        </div>
        <div class="col-md-6 margin-b-40">
            <label>Or create a new Knowledge Graph - choose a unique name.</label>
            <input id="kg-input" name="kgmodelname" class="form-control">
            <button id="kg-create" class="btn btn-info">Create</button>
        </div>
    </div>
    <div class="space-90"><hr /></div>
    <div class="row">
        <h3>Real graph</h3>
    </div>
    <div class="row">
        <div class="col-md-9 margin-b-40" id="realgraph" style="width: 800px; height: 800px; display: block;">

        </div>
        <div class="col-md-3 margin-b-40" id="realedit">

        </div>
    </div>
    <div class="space-70"><hr /></div>
    <div class="row">
        <h3>Virtual graph</h3>
    </div>
    <div class="row">
        <div class="col-md-9 margin-b-40" id="virtualgraph" style="width: 800px; height: 800px; display: block;">

        </div>
        <div class="col-md-3 margin-b-40" id="virtualedit">

        </div>
    </div>
    <div class="space-70"><hr /></div>
    <div class="row">
        <h3>Recognition graph</h3>
    </div>    
    <div class="row">
        <div class="col-md-9 margin-b-40" id="recognitiongraph" style="width: 800px; height: 800px; display: block;">

        </div>
        <div class="col-md-3 margin-b-40" id="recognitionedit">

        </div>
    </div>
</div>

    @section StyleSheets
{
    }

    @section Scripts
{
        <script src="jquery/jquery.min.js"></script>
        <script src="/graphql/graphql.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.16.0/cytoscape.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>

        <script language="JavaScript">

            var allkgmodels;
            var graph;
            var realkgraphdata;
            var realcy;
            var virtualcy;
            var recognitioncy;
            var virtualkgraphdata;
            var recognitionkgraphdata;
            var realeditor;
            var virtualeditor;
            var recognitioneditor;
            var realobjectdata;
            var virtualobjectdata;
            var recognitionobjectdata;

            $(async function () {



                graph = graphql("/graphql");
                var apiKey = findGetParameter("apikey");
                if (apiKey !== null)
                    graph = graphql("/graphql", { headers: { "Authorization": "Basic " + apiKey } });
                allkgmodels = graph(`{ kgraphs { name }}`);
                realkgraphdata = graph('query kgd($model: String!){getRealKGDisplay(graphName: $model){nodes{data{ id label lineage externalId}} edges{ data{ id label source target}}}}');
                virtualkgraphdata = graph('query vkgd($model: String!){getVirtualKGDisplay(graphName: $model){nodes{data{ id lineage}} edges{ data{ id label source target}}}}');
                recognitionkgraphdata = graph('query rkgd($model: String!){getRecognitionKGDisplay(graphName: $model root: "default:"){nodes{data{ id label lineage }} edges{ data{ id label source target}}}}');
                realobjectdata = graph('query rod($model: String! $id: String!){getGraphObjectByid(graphName: $model id: $id){name lineage id existence externalId properties {name lineage value }}}');
                virtualobjectdata = graph('query vod($model: String! $lineage: String!){getVirtualObjectByLineage(graphName: $model lineage: $lineage){name lineage id properties {name lineage value }}}');
                recognitionobjectdata = graph('query recod($model: String! $id: String!){getRecognitionObjectById(graphName: $model id: $id){name lineage id properties {name lineage value }}}');
                await updateDropdown();

                $('#kgmodel-dropdown').on('change', async function () {
                    mdname = this.value;
                    //getGraphData
                    var realdata = await realkgraphdata({ model: mdname });
                    var virtualdata = await virtualkgraphdata({ model: mdname });
                    var recdata = await recognitionkgraphdata({ model: mdname });
                    //instantiate graphs here
                    realcy = cytoscape({
                        container: $('#realgraph'),
                        elements: realdata.getRealKGDisplay,
                        style: [ // the stylesheet for the graph
                            {
                                selector: 'node',
                                style: {
                                    'background-color': '#666',
                                    'label': 'data(externalId)'
                                }
                            },

                            {
                                selector: 'edge',
                                style: {
                                    'width': 3,
                                    'line-color': '#ccc',
                                    'target-arrow-color': '#ccc',
                                    'target-arrow-shape': 'triangle',
                                    'curve-style': 'bezier'
                                }
                            }
                        ],

                        layout: {
                            name: 'grid'
                        }
                    });
                    virtualcy = cytoscape({
                        container: $('#virtualgraph'),
                        elements: virtualdata.getVirtualKGDisplay,
                        style: [ // the stylesheet for the graph
                            {
                                selector: 'node',
                                style: {
                                    'background-color': '#666',
                                    'label': 'data(lineage)'
                                }
                            },

                            {
                                selector: 'edge',
                                style: {
                                    'width': 3,
                                    'line-color': '#ccc',
                                    'target-arrow-color': '#ccc',
                                    'target-arrow-shape': 'triangle',
                                    'curve-style': 'bezier'
                                }
                            }
                        ],

                        layout: {
                            name: 'grid'
                        }
                    });
                    recognitioncy = cytoscape({
                        container: $('#recognitiongraph'),
                        elements: recdata.getRecognitionKGDisplay,
                        style: [ // the stylesheet for the graph
                            {
                                selector: 'node',
                                style: {
                                    'background-color': '#666',
                                    'label': 'data(lineage)'
                                }
                            },

                            {
                                selector: 'edge',
                                style: {
                                    'width': 3,
                                    'line-color': '#ccc',
                                    'target-arrow-color': '#ccc',
                                    'target-arrow-shape': 'triangle',
                                    'curve-style': 'bezier'
                                }
                            }
                        ],

                        layout: {
                            name: 'grid'
                        }
                    });
                    realeditor = new JSONEditor(document.getElementById('realedit'), {
                        theme: 'bootstrap4',
                        schema: {
                            "type": "object",
                            "typeName": "GraphObject",
                            "title": "Node contents",
                            "additionalProperties": false,
                            "options": {
                                "disable_collapse": true
                            },
                            "required": [
                                "name",
                                "lineage",
                                "id",
                                "existence",
                                "externalId",
                                "properties"
                            ],
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "title": "Internal Id",
                                    "description": "Internal reference for this object",
                                    "readonly": true
                                },
                                "name": {
                                    "type": "string",
                                    "title": "Name",
                                    "description": "Textual name of this object"
                                },
                                "lineage": {
                                    "type": "string",
                                    "title": "Lineage",
                                    "readonly": true,
                                    "description": "Type of this object in the DARL heirarchy"
                                },
                                "externalId": {
                                    "type": "string",
                                    "title": "External Id",
                                    "description": "An external reference to this object"
                                },
                                "existence": {
                                    "type": "array",
                                    "title": "Existence",
                                    "description": "Sequence of dates/times defining this objects lifetime",
                                    "options": {
                                        "disable_collapse": true
                                    },
                                    "items": {
                                        "type": "datetime",
                                        "title": "Date/Time",
                                    }
                                },
                                "properties": {
                                    "type": "array",
                                    "title": "Properties",
                                    "description": "Attributes associated with this object",
                                    "options": {
                                        "disable_collapse": true
                                    },
                                    "items": {
                                        "type": "object",
                                        "typeName": "GraphAttribute",
                                        "title": "Attribute",
                                        "additionalProperties": false,
                                        "required": [
                                            "name",
                                            "lineage",
                                            "value"
                                        ],
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "title": "Name",
                                                "description": "Textual name of this Attribute"
                                            },
                                            "lineage": {
                                                "type": "string",
                                                "title": "Lineage",
                                                "readonly": true,
                                                "description": "Type of this attribute in the DARL heirarchy"
                                            },
                                            "value": {
                                                "type": "string",
                                                "title": "Value",
                                                "format": "textarea",
                                                "description": "Value of this attribute"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        collapsed: true,
                        disable_edit_json: true,
                        disable_properties: true,
                        disable_collapse: false,
                        disable_array_add: false,
                        disable_array_delete: false,
                        disable_array_reorder: true,
                        form_name_root: "real"
                    });
                    virtualeditor = new JSONEditor(document.getElementById('virtualedit'), {
                        theme: 'bootstrap4',
                        schema: {
                            "type": "object",
                            "typeName": "GraphObject",
                            "title": "Node contents",
                            "additionalProperties": false,
                            "options": {
                                "disable_collapse": true
                            },
                            "required": [
                                "name",
                                "lineage",
                                "id",
                                "properties"
                            ],
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "title": "Internal Id",
                                    "description": "Internal reference for this object",
                                    "readonly": true
                                },
                                "name": {
                                    "type": "string",
                                    "title": "Name",
                                    "description": "Textual name of this object"
                                },
                                "lineage": {
                                    "type": "string",
                                    "title": "Lineage",
                                    "readonly": true,
                                    "description": "Type of this object in the DARL heirarchy"
                                },
                                "properties": {
                                    "type": "array",
                                    "title": "Properties",
                                    "description": "Attributes associated with this object",
                                    "options": {
                                        "disable_collapse": true
                                    },
                                    "items": {
                                        "type": "object",
                                        "typeName": "GraphAttribute",
                                        "title": "Attribute",
                                        "additionalProperties": false,
                                        "required": [
                                            "name",
                                            "lineage",
                                            "value"
                                        ],
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "title": "Name",
                                                "description": "Textual name of this Attribute"
                                            },
                                            "lineage": {
                                                "type": "string",
                                                "title": "Lineage",
                                                "readonly": true,
                                                "description": "Type of this attribute in the DARL heirarchy"
                                            },
                                            "value": {
                                                "type": "string",
                                                "title": "Value",
                                                "format": "textarea",
                                                "description": "Value of this attribute"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        collapsed: true,
                        disable_edit_json: true,
                        disable_properties: true,
                        disable_collapse: false,
                        disable_array_add: false,
                        disable_array_delete: false,
                        disable_array_reorder: true,
                        form_name_root: "virtual"

                    });
                    recognitioneditor = new JSONEditor(document.getElementById('recognitionedit'), {
                        theme: 'bootstrap4',
                        schema: {
                            "type": "object",
                            "typeName": "GraphObject",
                            "title": "Node contents",
                            "additionalProperties": false,
                            "options": {
                                "disable_collapse": true
                            },
                            "required": [
                                "name",
                                "lineage",
                                "id",
                                "properties"
                            ],
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "title": "Internal Id",
                                    "description": "Internal reference for this object",
                                    "readonly": true
                                },
                                "name": {
                                    "type": "string",
                                    "title": "Name",
                                    "description": "Textual name of this object"
                                },
                                "lineage": {
                                    "type": "string",
                                    "title": "Lineage",
                                    "readonly": true,
                                    "description": "Type of this object in the DARL heirarchy"
                                },
                                "properties": {
                                    "type": "array",
                                    "title": "Properties",
                                    "description": "Attributes associated with this object",
                                    "options": {
                                        "disable_collapse": true
                                    },
                                    "items": {
                                        "type": "object",
                                        "typeName": "GraphAttribute",
                                        "title": "Attribute",
                                        "additionalProperties": false,
                                        "required": [
                                            "name",
                                            "lineage",
                                            "value"
                                        ],
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "title": "Name",
                                                "description": "Textual name of this Attribute"
                                            },
                                            "lineage": {
                                                "type": "string",
                                                "title": "Lineage",
                                                "readonly": true,
                                                "description": "Type of this attribute in the DARL heirarchy"
                                            },
                                            "value": {
                                                "type": "string",
                                                "title": "Value",
                                                "format": "textarea",
                                                "description": "Value of this attribute"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        collapsed: true,
                        disable_edit_json: true,
                        disable_properties: true,
                        disable_collapse: false,
                        disable_array_add: false,
                        disable_array_delete: false,
                        disable_array_reorder: true,
                        form_name_root: "recognition"
                    });

                    realcy.on('tap', 'node', async function (evt) {
                        var node = evt.target;
                        var objContent = await realobjectdata({ model: mdname, id: node.id() });
                        realeditor.setValue(objContent.getGraphObjectByid);
                        console.log('tapped ' + node.id());
                    });
                    virtualcy.on('tap', 'node', async function (evt) {
                        var node = evt.target;
                        var objContent = await virtualobjectdata({ model: mdname, lineage: node.id() });
                        virtualeditor.setValue(objContent.getVirtualObjectByLineage);
                        console.log('tapped ' + node.id());
                    });
                    recognitioncy.on('tap', 'node', async function (evt) {
                        var node = evt.target;
                        var objContent = await recognitionobjectdata({ model: mdname, id: node.id() });
                        recognitioneditor.setValue(objContent.getRecognitionObjectById);
                        console.log('tapped ' + node.id());
                    });
                });


            });

            function findGetParameter(parameterName) {
                var result = null,
                    tmp = [];
                location.search
                    .substr(1)
                    .split("&")
                    .forEach(function (item) {
                        tmp = item.split("=");
                        if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                    });
                return result;
            }

            async function updateDropdown() {
                const rs = await allkgmodels();
                var dropdown = $('#kgmodel-dropdown');
                dropdown.empty();
                dropdown.append('<option selected="true" disabled>Choose a Knowledge Graph to edit</option>');
                dropdown.prop('selectedIndex', 0);
                $.each(rs.kgraphs, function (key, entry) {
                    dropdown.append($('<option class="dropdown-item"></option>').attr('value', entry.name).text(entry.name));
                });
            }
        </script>

    }

    @section header{
        <meta name="description" content="Edits a Knowledge Graph." />
    }

