@page
@model Darl.GraphQL.Pages.graphiqlModel
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12  ">
        <iframe style="width: 100vw;height: 90vh;position: relative;" src="ui/graphiql" frameborder="0" allowfullscreen align="top"></iframe>
    </div>
</div>

@section header{
    <meta name="description" content="Interact with the DARL GraphQL API using the GraphiQL interface." />
}
