@page
@model Darl.GraphQL.Pages.GraphEditModel
@{
    ViewData["Title"] = "GraphEdit";
    Layout = "~/Pages/_layoutscrolling.cshtml";

}

<main role="main" class="pb-3" style="padding: 0px !important">
    <div class="space-70"></div>
    <div class="container-fluid" style="padding:20px; min-height:100vh">
        <div class="row">
            <h1>Knowledge Graph editing</h1>
        </div>
        <div class="row" id="fileHandling">
            <div class="col-md-6 margin-b-40">
                <p>Select a Knowledge Graph from your account to edit.</p>
                <label>Knowledge Graphs </label>
                <select id="kgmodel-dropdown" name="kgmodel" class="dropdown"></select>
                <button id="kg-save" class="btn btn-info">Save</button>
                <button data-toggle="modal" data-target="#copyModelModal" class="btn btn-info">Copy</button>
            </div>
            <div class="col-md-6 margin-b-40">
                <label>Or create a new Knowledge Graph - choose a unique name.</label>
                <input id="kg-input" name="kgmodelname" class="form-control">
                <button id="kg-create" class="btn btn-info">Create</button>
            </div>
        </div>
        <div class="space-90"><hr /></div>
        <div id="real-header" class="row d-none">
            <div class="col-md-9">
                <h3>Real graph</h3>
            </div>
            <div class="form-inline pull-right col-md-3">
                <input id="real-select" class="form-control-sm" type="text" placeholder="external id" />
                <button id="real-find" class="btn btn-info form-control-sm">Find</button>
                <button id="real-fit" class="btn btn-info form-control-sm">Fit</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin-b-40" id="realgraph" style="width: 800px; height: 800px; display: block;">
            </div>
            <div id="loading" class="loaded">
                <span class="fa fa-refresh fa-spin"></span>
            </div>
        </div>
        <div class="space-70"><hr /></div>
        <div class="row">
            <h3>Virtual graph</h3>
        </div>
        <div class="row">
            <div class="col-md-9 margin-b-40" id="virtualgraph" style="width: 800px; height: 800px; display: block;">
                <button id="virtual-fit" class="btn btn-info form-control-sm">Fit</button>
            </div>
            <div class="col-md-3 margin-b-40">
                <div id="virtualedit"></div>
            </div>
        </div>
        <div class="space-70"><hr /></div>
        <div class="row">
            <h3>Recognition graph</h3>
        </div>
        <div class="row">
            <div class="col-md-9 margin-b-40" id="recognitiongraph" style="width: 800px; height: 800px; display: block;">
                <button id="rec-fit" class="btn btn-info form-control-sm">Fit</button>
            </div>
            <div class="col-md-3 margin-b-40">
                <div id="recognitionedit"></div>
            </div>
        </div>
    </div>

    <div class="modal" id="copyModelModal" tabindex="-1" role="dialog" aria-labelledby="copyModelModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="copyModelModalLabel">Copy to new Knowledge Graph</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>New Knowledge Graph name</label>
                    <input id="newModelNameInput">
                    <div class="well">Existing KGs with the same name will be overwritten.</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="copyModel">Copy</button>
                </div>
            </div>
        </div>
    </div>

</main>

@section StyleSheets
{
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-message-box@3.2.2/dist/messagebox.min.css" />"
    <style>
        #loading {
            position: absolute;
            display: block;
            left: 0;
            top: 50%;
            width: 100%;
            text-align: center;
            margin-top: -0.5em;
            font-size: 2em;
            color: #000;
        }

            #loading.loaded {
                display: none;
            }

        .cxtmenu-disabled {
            opacity: 0.333;
        }
    </style>
}

@section Scripts
{
    <script src="jquery/jquery.min.js"></script>
    <script src="/graphql/graphql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.16.0/cytoscape.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
    <script src="https://unpkg.com/dagre@0.7.4/dist/dagre.js"></script>
    <script src="/cytoscape-dagre/cytoscape-dagre.js"></script>
    <script src="~/cytoscape-cxtmenu/cytoscape-cxtmenu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js"></script>
    <script src="~/cytoscape-edgehandles/cytoscape-edgehandles.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-message-box@3.2.2/dist/messagebox.min.js"></script>

    <script language="JavaScript">

        var allkgmodels;
        var graph;
        var realkgraphdata;
        var realcy;
        var virtualcy;
        var recognitioncy;
        var virtualkgraphdata;
        var recognitionkgraphdata;
        var virtualeditor;
        var recognitioneditor;
        var realobjectdata;
        var virtualobjectdata;
        var recognitionobjectdata;
        var realeditorchange;
        var virtualeditorchange;
        var receditorchange;
        var realchanged;
        var virtualchanged;
        var recchanged;
        var mdname;
        var createKG;
        var savechanges;
        var deleterealobject;
        var createconnobjpair;
        var createclonedkg;
        var currentNodeId;

        $(async function () {



            graph = graphql("/graphql");
            var apiKey = findGetParameter("apikey");
            mdname = findGetParameter("kgraph");
            if (apiKey !== null)
                graph = graphql("/graphql", { headers: { "Authorization": "Basic " + apiKey } });

            allkgmodels = graph(`{ kgraphs { name }}`);
            realkgraphdata = graph('query kgd($model: String!){getRealKGDisplay(graphName: $model){nodes{data{ id label lineage externalId}} edges{ data{ id label source target}}}}');
            virtualkgraphdata = graph('query vkgd($model: String!){getVirtualKGDisplay(graphName: $model){nodes{data{ id lineage}} edges{ data{ id label source target}}}}');
            recognitionkgraphdata = graph('query rkgd($model: String!){getRecognitionKGDisplay(graphName: $model){nodes{data{ id label lineage }} edges{ data{ id label source target}}}}');
            realobjectdata = graph('query rod($model: String! $id: String!){getGraphObjectByid(graphName: $model id: $id){name lineage id existence externalId properties {name lineage value }}}');
            virtualobjectdata = graph('query vod($model: String! $lineage: String!){getVirtualObjectByLineage(graphName: $model lineage: $lineage){name lineage id properties {name lineage value }}}');
            recognitionobjectdata = graph('query recod($model: String! $id: String!){getRecognitionObjectById(graphName: $model id: $id){name lineage id properties {name lineage value }}}');
            realeditorchange = graph('mutation rec($model: String! $goj: String!){updateGraphObjectFromJSON(graphName: $model graphObjectJSON: $goj ontology: BUILD) {id}}');
            virtualeditorchange = graph('mutation uvg($model: String! $goj: String!){updateVirtualGraphObjectFromJSON(graphName: $model graphObjectJSON: $goj) {id}}');
            receditorchange = graph('mutation rec($model: String! $goj: String!){updateRecognitionObjectFromJSON(graphName: $model graphObjectJSON: $goj) {id}}');
            createKG = graph('mutation createKG($name: String!){createKGraph(name: $name){name}}');
            savechanges = graph('mutation saveKGraph($name: String!){saveKGraph(name: $name)}');
            deleterealobject = graph('mutation dgo($name: String! $id: String!){deleteGraphObject(graphName: $name id: $id){name}}');
            createconnobjpair = graph('mutation crcop($name: String! $id: String! $connName: String! $connLineage: String! $nodeExt: String! $nodeLineage: String!){createRealConnectionObjectPair(graphName: $name parentExternalId: $id connName: $connName connLineage: $connLineage nodeExternalId: $nodeExt nodeLineage: $nodeLineage ){name lineage id existence externalId properties {name lineage value }}}');
            createclonedkg = graph('mutation ckg($name: String! $newname: String!){copyRenamKG(name: $name newName: $newname)}');
            gettypeword = graph('query gtw($lin: String!){getTypeWordForLineage(lineage: $lin)}');

            if (mdname !== null) {
                $('#fileHandling').addClass('d-none');
                await loadGraphs();
            }
            else {
                await updateDropdown();

                $('#kgmodel-dropdown').on('change', async function () {
                    mdname = this.value;
                    //getGraphData
                    await loadGraphs();
                });
            }

            $('#kg-create').click(async function () {
                mdname = $('#kg-input').val();
                try {
                    var res = await createKG({ name: mdname });
                    await updateDropdown();
                    alert(mdname + " created");
                }
                catch (err) {
                    alert(err[0].message);
                }
            });

            $('#copyModel').click(async function () {
                if (!mdname || mdname === "") {
                    alert("You have to select a knowledge graph to copy");
                    return;
                }
                var copyname = $('#newModelNameInput').val();
                if (copyname === "") {
                    alert("You have to give a name for the new knowledge graph");
                    return;
                }
                try {
                    await createclonedkg({ name: mdname, newname: copyname });
                    alert(mdname + " copied to " + copyname + ".");
                }
                catch (err) {
                    alert(err[0].message);
                }

            });


            $('#kg-save').click(async function () {
                try {
                    await savechanges({ name: mdname });
                    $('#kg=save').prop('disabled', true);
                    alert(mdname + " saved");
                }
                catch (err) {
                    alert(err[0].message);
                }
            });

        });

        function findGetParameter(parameterName) {
            var result = null,
                tmp = [];
            location.search
                .substr(1)
                .split("&")
                .forEach(function (item) {
                    tmp = item.split("=");
                    if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                });
            return result;
        }

        async function updateDropdown() {
            const rs = await allkgmodels();
            var dropdown = $('#kgmodel-dropdown');
            dropdown.empty();
            dropdown.append('<option selected="true" disabled>Choose a Knowledge Graph to edit</option>');
            dropdown.prop('selectedIndex', 0);
            $.each(rs.kgraphs, function (key, entry) {
                dropdown.append($('<option class="dropdown-item"></option>').attr('value', entry.name).text(entry.name));
            });
        }

        async function loadGraphs() {
            try {
                $('#real-header').removeClass('d-none');
                var loading = document.getElementById('loading');
                loading.classList.remove('loaded');
                var realdata = await realkgraphdata({ model: mdname });
                var virtualdata = await virtualkgraphdata({ model: mdname });
                var recdata = await recognitionkgraphdata({ model: mdname });
                //instantiate graphs here
                realcy = cytoscape({
                    container: $('#realgraph'),
                    elements: realdata.getRealKGDisplay,
                    style: [ // the stylesheet for the graph
                        {
                            selector: 'node',
                            style: {
                                'background-color': '#11479e',
                                'label': 'data(externalId)'
                            }
                        },
                        {
                            selector: 'node:selected',
                            style: {
                                'background-color': '#1010ff',
                                'label': 'data(externalId)'
                            }
                        },
                        {
                            selector: 'edge',
                            style: {
                                'width': 3,
                                'line-color': '#9dbaea',
                                'target-arrow-color': '#9dbaea',
                                'target-arrow-shape': 'triangle',
                                'curve-style': 'bezier'
                            }
                        },
                        {
                            selector: '.eh-handle',
                            style: {
                                'background-color': 'red',
                                'width': 12,
                                'height': 12,
                                'shape': 'ellipse',
                                'overlay-opacity': 0,
                                'border-width': 12, // makes the handle easier to hit
                                'border-opacity': 0
                            }
                        },

                        {
                            selector: '.eh-hover',
                            style: {
                                'background-color': 'red'
                            }
                        },

                        {
                            selector: '.eh-source',
                            style: {
                                'border-width': 2,
                                'border-color': 'red'
                            }
                        },

                        {
                            selector: '.eh-target',
                            style: {
                                'border-width': 2,
                                'border-color': 'red'
                            }
                        },

                        {
                            selector: '.eh-preview, .eh-ghost-edge',
                            style: {
                                'background-color': 'red',
                                'line-color': 'red',
                                'target-arrow-color': 'red',
                                'source-arrow-color': 'red'
                            }
                        },

                        {
                            selector: '.eh-ghost-edge.eh-preview-active',
                            style: {
                                'opacity': 0
                            }
                        }
                    ],

                    layout: {

                        name: 'cose',
                        idealEdgeLength: 100,
                        nodeOverlap: 20,
                        refresh: 20,
                        fit: true,
                        padding: 30,
                        randomize: false,
                        componentSpacing: 100,
                        nodeRepulsion: 400000,
                        edgeElasticity: 100,
                        nestingFactor: 5,
                        gravity: 80,
                        numIter: 1000,
                        initialTemp: 200,
                        coolingFactor: 0.95,
                        minTemp: 1.0
                    }

                });
                realcy.cxtmenu({
                    selector: 'node',
                    commands: [
                        {
                            content: '<span class="fa fa-trash fa-2x"></span>',
                            select: async function (ele) {
                                $.MessageBox({
                                    buttonDone: "Yes",
                                    buttonFail: "No",
                                    message: "Are you sure you want to delete this node?"
                                }).done(async function (data) {
                                    console.log(data);
                                    await deleterealobject({ name: mdname, id: ele.id() });
                                    realcy.remove(ele);
                                    $('#kg=save').disabled = false;
                                });
                            }
                        },

                        {
                            content: '<span class="fa fa-calendar fa-2x"></span>',
                            select: async function (ele) {
                                console.log('existence');
                                var obj = await realobjectdata({ model: mdname, id: ele.id() });
                                if (obj.getGraphObjectByid.existence) {
                                    for (var n = 0; n < obj.getGraphObjectByid.existence.length && n < 4; n++) {
                                        if (n == 0)
                                            $('#time0').val(obj.existence[n]);
                                        else if (n == 1)
                                            $('#time1').val(obj.existence[n]);
                                        else if (n == 2)
                                            $('#time2').val(obj.existence[n]);
                                        else if (n == 3)
                                            $('#time3').val(obj.existence[n]);
                                    }
                                }
                                $.MessageBox({
                                    input: {
                                        date1: {
                                            type: "date",
                                            label: "Date 1"
                                        },
                                        time1: {
                                            type: "time",
                                            label: "Time 1"
                                        },
                                        date2: {
                                            type: "date",
                                            label: "Date 2"
                                        },
                                        time2: {
                                            type: "time",
                                            label: "Time 2"
                                        },
                                        date3: {
                                            type: "date",
                                            label: "Date 3"
                                        },
                                        time3: {
                                            type: "time",
                                            label: "Time 3"
                                        },
                                        date4: {
                                            type: "date",
                                            label: "Date 4"
                                        },
                                        time4: {
                                            type: "time",
                                            label: "Time 4"
                                        },
                                        dummy_caption: {
                                            type: "caption",
                                            message: "One value constitutes an event, two an interval, <br/>three a fuzzy event and four a fuzzy interval.<br/>Entries will be sorted in time-order before use."
                                        }
                                    },
                                    message: "Set or change the times of this element's existence",
                                    buttonDone: "Change",
                                    buttonFail: "Cancel"
                                }).done(function (data) {
                                    console.log(data);
                                });
                            }
                        },

                        {
                            content: '<span class="fa fa-arrow-up fa-2x"></span>',
                            select: async function (ele) {
                                console.log('external id');
                                var obj = await realobjectdata({ model: mdname, id: ele.id() });
                                $.MessageBox({
                                    input: obj.getGraphObjectByid.externalId,
                                    message: "Edit the external Id",
                                    buttonDone: "Change",
                                    buttonFail: "Cancel"
                                }).done(function (data) {
                                    console.log(data);
                                });
                            }
                        },

                        {
                            content: '<span class="fa fa-user fa-2x"></span>',
                            select: async function (ele) {
                                console.log('name');
                                var obj = await realobjectdata({ model: mdname, id: ele.id() });
                                $.MessageBox({
                                    input: obj.getGraphObjectByid.name,
                                    message: "Edit the name",
                                    buttonDone: "Change",
                                    buttonFail: "Cancel"
                                }).done(function (data) {
                                    console.log(data);
                                });
                            }
                        },

                        {
                            content: '<span class="fa fa-tasks fa-2x"></span>',
                            select: function (ele) {
                                console.log('attributes');
                            }
                        },
                        {
                            content: '<span class="fa fa-tree fa-2x"></span>',
                            select: async function (ele) {
                                console.log('lineage');
                                var obj = await realobjectdata({ model: mdname, id: ele.id() });
                                var lin = obj.getGraphObjectByid.lineage;
                                var typeword = await gettypeword({ lin: lin });
                                $.MessageBox({
                                    input: {
                                        lineage:
                                        {
                                            type: "caption",
                                            message: lin
                                        },
                                        typeword:
                                        {
                                            type: "caption",
                                            message: typeword.getTypeWordForLineage
                                        }
                                    },
                                    message: "The lineage"
                                }).done(function (data) {
                                    console.log(data);
                                });
                            }
                        }
                    ]
                });
                realcy.cxtmenu({
                    selector: 'edge',
                    commands: [
                        {
                            content: '<span class="fa fa-trash fa-2x"></span>',
                            select: async function (ele) {
                                $.MessageBox({
                                    buttonDone: "Yes",
                                    buttonFail: "No",
                                    message: "Are you sure you want to delete this node?"
                                }).done(async function (data) {
                                    console.log(data);
                                    //await deleterealobject({ name: mdname, id: ele.id() });
                                    realcy.remove(ele);
                                    $('#kg=save').disabled = false;
                                });
                            }
                        },

                        {
                            content: '<span class="fa fa-calendar fa-2x"></span>',
                            select: async function (ele) {
                                console.log('existence');
                                var obj = await realobjectdata({ model: mdname, id: ele.id() });
                                if (obj.getGraphObjectByid.existence) {
                                    for (var n = 0; n < obj.getGraphObjectByid.existence.length && n < 4; n++) {
                                        if (n == 0)
                                            $('#time0').val(obj.existence[n]);
                                        else if (n == 1)
                                            $('#time1').val(obj.existence[n]);
                                        else if (n == 2)
                                            $('#time2').val(obj.existence[n]);
                                        else if (n == 3)
                                            $('#time3').val(obj.existence[n]);
                                    }
                                }
                                $.MessageBox({
                                    input: {
                                        date1: {
                                            type: "date",
                                            label: "Date 1"
                                        },
                                        time1: {
                                            type: "time",
                                            label: "Time 1"
                                        },
                                        date2: {
                                            type: "date",
                                            label: "Date 2"
                                        },
                                        time2: {
                                            type: "time",
                                            label: "Time 2"
                                        },
                                        date3: {
                                            type: "date",
                                            label: "Date 3"
                                        },
                                        time3: {
                                            type: "time",
                                            label: "Time 3"
                                        },
                                        date4: {
                                            type: "date",
                                            label: "Date 4"
                                        },
                                        time4: {
                                            type: "time",
                                            label: "Time 4"
                                        },
                                        dummy_caption: {
                                            type: "caption",
                                            message: "One value constitutes an event, two an interval, <br/>three a fuzzy event and four a fuzzy interval.<br/>Entries will be sorted in time-order before use."
                                        }
                                    },
                                    message: "Set or change the times of this element's existence",
                                    buttonDone: "Change",
                                    buttonFail: "Cancel"
                                }).done(function (data) {
                                    console.log(data);
                                });
                            }
                        },

                        {
                            content: '<span class="fa fa-user fa-2x"></span>',
                            select: async function (ele) {
                                console.log('name');
                                var obj = await realobjectdata({ model: mdname, id: ele.id() });
                                $.MessageBox({
                                    input: obj.getGraphObjectByid.name,
                                    message: "Edit the name",
                                    buttonDone: "Change",
                                    buttonFail: "Cancel"
                                }).done(function (data) {
                                    console.log(data);
                                });
                            }
                        },
                        {
                            content: '<span class="fa fa-tree fa-2x"></span>',
                            select: async function (ele) {
                                console.log('lineage');
                                var obj = await realobjectdata({ model: mdname, id: ele.id() });
                                var lin = obj.getGraphObjectByid.lineage;
                                var typeword = await gettypeword({ lin: lin });
                                $.MessageBox({
                                    input: {
                                        lineage:
                                        {
                                            type: "caption",
                                            message: lin
                                        },
                                        typeword:
                                        {
                                            type: "caption",
                                            message: typeword.getTypeWordForLineage
                                        }
                                    },
                                    message: "The lineage"
                                }).done(function (data) {
                                    console.log(data);
                                });
                            }
                        }
                    ]
                });
                var eh = realcy.edgehandles({
                    snap: true
                });

                virtualcy = cytoscape({
                    container: $('#virtualgraph'),
                    elements: virtualdata.getVirtualKGDisplay,
                    style: [ // the stylesheet for the graph
                        {
                            selector: 'node',
                            style: {
                                'background-color': '#666',
                                'label': 'data(lineage)'
                            }
                        },
                        {
                            selector: 'node:selected',
                            style: {
                                'background-color': '#1010ff',
                                'label': 'data(externalId)'
                            }
                        },
                        {
                            selector: 'edge',
                            style: {
                                'width': 3,
                                'line-color': '#ccc',
                                'target-arrow-color': '#ccc',
                                'target-arrow-shape': 'triangle',
                                'curve-style': 'bezier',
                                'label': 'data(label)'
                            }
                        }
                    ],

                    layout: {
                        name: 'dagre'
                    }
                });
                recognitioncy = cytoscape({
                    container: $('#recognitiongraph'),
                    elements: recdata.getRecognitionKGDisplay,
                    style: [ // the stylesheet for the graph
                        {
                            selector: 'node',
                            style: {
                                'background-color': '#666',
                                'label': 'data(lineage)'
                            }
                        },
                        {
                            selector: 'node:selected',
                            style: {
                                'background-color': '#1010ff',
                                'label': 'data(externalId)'
                            }
                        },
                        {
                            selector: 'edge',
                            style: {
                                'width': 3,
                                'line-color': '#ccc',
                                'target-arrow-color': '#ccc',
                                'target-arrow-shape': 'triangle',
                                'curve-style': 'bezier',
                                'label': 'data(label)'
                            }
                        }
                    ],

                    layout: {
                        name: 'dagre'
                    }
                });
                realchanged = true;
                virtualchanged = true;
                recchanged = true;

                virtualeditor = new JSONEditor(document.getElementById('virtualedit'), {
                    theme: 'bootstrap4',
                    schema: {
                        "type": "object",
                        "typeName": "GraphObject",
                        "title": "Node contents",
                        "additionalProperties": false,
                        "options": {
                            "disable_collapse": true
                        },
                        "required": [
                            "name",
                            "lineage",
                            "id",
                            "properties"
                        ],
                        "properties": {
                            "id": {
                                "type": "string",
                                "title": "Internal Id",
                                "description": "Internal reference for this object",
                                "readonly": true
                            },
                            "name": {
                                "type": "string",
                                "title": "Name",
                                "description": "Textual name of this object"
                            },
                            "lineage": {
                                "type": "string",
                                "title": "Lineage",
                                "readonly": true,
                                "description": "Type of this object in the DARL heirarchy"
                            },
                            "properties": {
                                "type": "array",
                                "title": "Properties",
                                "description": "Attributes associated with this object",
                                "options": {
                                    "disable_collapse": true
                                },
                                "items": {
                                    "type": "object",
                                    "typeName": "GraphAttribute",
                                    "title": "Attribute",
                                    "additionalProperties": false,
                                    "required": [
                                        "name",
                                        "lineage",
                                        "value"
                                    ],
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "title": "Name",
                                            "description": "Textual name of this Attribute"
                                        },
                                        "lineage": {
                                            "type": "string",
                                            "title": "Lineage",
                                            "readonly": true,
                                            "description": "Type of this attribute in the DARL heirarchy"
                                        },
                                        "value": {
                                            "type": "string",
                                            "title": "Value",
                                            "format": "textarea",
                                            "description": "Value of this attribute"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    collapsed: true,
                    disable_edit_json: true,
                    disable_properties: true,
                    disable_collapse: false,
                    disable_array_add: false,
                    disable_array_delete: false,
                    disable_array_reorder: true,
                    form_name_root: "virtual"

                });

                virtualeditor.on('change', async function () {
                    // Do something
                    var obj = virtualeditor.getValue();
                    if (obj.id !== null && obj.id !== "" && virtualchanged == false) {
                        var json = JSON.stringify(obj);
                        await virtualeditorchange({ model: mdname, goj: json });
                        $('#kg-save').prop('disabled', false);
                    }
                    virtualchanged = false;
                });

                recognitioneditor = new JSONEditor(document.getElementById('recognitionedit'), {
                    theme: 'bootstrap4',
                    schema: {
                        "type": "object",
                        "typeName": "GraphObject",
                        "title": "Node contents",
                        "additionalProperties": false,
                        "options": {
                            "disable_collapse": true
                        },
                        "required": [
                            "name",
                            "lineage",
                            "id",
                            "properties"
                        ],
                        "properties": {
                            "id": {
                                "type": "string",
                                "title": "Internal Id",
                                "description": "Internal reference for this object",
                                "readonly": true
                            },
                            "name": {
                                "type": "string",
                                "title": "Name",
                                "description": "Textual name of this object"
                            },
                            "lineage": {
                                "type": "string",
                                "title": "Lineage",
                                "readonly": true,
                                "description": "Type of this object in the DARL heirarchy"
                            },
                            "properties": {
                                "type": "array",
                                "title": "Properties",
                                "description": "Attributes associated with this object",
                                "options": {
                                    "disable_collapse": true
                                },
                                "items": {
                                    "type": "object",
                                    "typeName": "GraphAttribute",
                                    "title": "Attribute",
                                    "additionalProperties": false,
                                    "required": [
                                        "name",
                                        "lineage",
                                        "value"
                                    ],
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "title": "Name",
                                            "description": "Textual name of this Attribute"
                                        },
                                        "lineage": {
                                            "type": "string",
                                            "title": "Lineage",
                                            "readonly": true,
                                            "description": "Type of this attribute in the DARL heirarchy"
                                        },
                                        "value": {
                                            "type": "string",
                                            "title": "Value",
                                            "format": "textarea",
                                            "description": "Value of this attribute"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    collapsed: true,
                    disable_edit_json: true,
                    disable_properties: true,
                    disable_collapse: false,
                    disable_array_add: false,
                    disable_array_delete: false,
                    disable_array_reorder: true,
                    form_name_root: "recognition"
                });

                recognitioneditor.on('change', async function () {
                    // Do something
                    var obj = recognitioneditor.getValue();
                    if (obj.id !== null && obj.id !== "" && recchanged == false) {
                        var json = JSON.stringify(obj);
                        await receditorchange({ model: mdname, goj: json });
                        $('#kg-save').prop('disabled', false);
                    }
                    recchanged = false;
                });

                realcy.on('tap', async function (evt) {
                    var node = evt.target;
                    if (node === realcy) {
                        $.MessageBox({
                            input: {
                                name:
                                {
                                    type: "text",
                                    label: "Name"
                                },
                                externalId:
                                {
                                    type: "text",
                                    label: "External id"
                                },
                                sep_caption: {
                                    type: "caption",
                                    message: "select an existing lineage <br/> or enter a new one."
                                },
                                existinglineage: {
                                    label: "existing lineages",
                                    type: "select"
                                },
                                newlineage: {
                                    type: "text",
                                    label: "new lineage"
                                }
                            },
                            buttonDone: "Add",
                            buttonFail: "Cancel",
                            message: "Add a new node to the network."

                        }).done(async function (data) {
                            console.log('add node ' + data);
                            //create new object here
                            realcy.add({
                                group: 'nodes',
                                data: { externalId: data.externalId },
                                position: {
                                    x: evt.position.x,
                                    y: evt.position.y
                                }
                            });
                        });

                    }
                });


                realcy.on('layoutstop', function (event) {
                    var loading = document.getElementById('loading');
                    loading.classList.add('loaded');
                });

                realcy.on('ehcomplete', async function (event, sourceNode, targetNode, addedEles) {
                    $.MessageBox({
                        input: {
                            name:
                            {
                                type: "text",
                                label: "Name"
                            },
                            sep_caption: {
                                type: "caption",
                                message: "select an existing lineage <br/> or enter a new one."
                            },
                            existinglineage: {
                                label: "existing lineages",
                                type: "select"
                            },
                            newlineage: {
                                type: "text",
                                label: "new lineage"
                            }
                        },
                        buttonDone: "Add",
                        buttonFail: "Cancel",
                        message: "Add a new edge to the network."

                    }).done(async function (data) {
                        console.log('add edge ' + data);
                    }).fail(function (data) {
                        realcy.remove(addedEles);
                    });
                });
                virtualcy.on('tap', 'node', async function (evt) {
                    var node = evt.target;
                    var objContent = await virtualobjectdata({ model: mdname, lineage: node.id() });
                    virtualeditor.setValue(objContent.getVirtualObjectByLineage);
                    console.log('tapped ' + node.id());
                    virtualchanged = true;
                });
                recognitioncy.on('tap', 'node', async function (evt) {
                    var node = evt.target;
                    var objContent = await recognitionobjectdata({ model: mdname, id: node.id() });
                    recognitioneditor.setValue(objContent.getRecognitionObjectById);
                    console.log('tapped ' + node.id());
                    recchanged = true;
                });

                $('#real-find').click(async function () {
                    var externalId = $('#real-select').val();
                    var nodes = realcy.nodes().filter(function (element, i) {
                        return element.data('externalId') == externalId;
                    });
                    realcy.fit(nodes, 300);
                    nodes.emit('tap');
                });


                $('#addNodeButton').click(async function () {

                    var externalId = $('#real-select').val();
                    var connName = $('#newConnectionName').val();
                    var connLineage = $('#newConnectionLineage').val();
                    var nodeExt = $('#newNodeExternalId').val();
                    var nodeLineage = $('#newNodeLineage').val();
                    var obj = await createconnobjpair({ name: mdname, id: externalId, connName: connName, connLineage: connLineage, nodeExt: nodeExt, nodeLineage: nodeLineage });
                    //add both to visible graph
                });



                $('#real-fit').click(function () { realcy.fit(); });
                $('#virtual-fit').click(function () { virtualcy.fit(); });
                $('#rec-fit').click(function () { recognitioncy.fit(); });
            }
            catch (err) {
                alert(err[0].message);
            }


        }
        var charCodeZero = "0".charCodeAt(0);
        var charCodeNine = "9".charCodeAt(0);

        function isDigitCode(n) {
            return (n.charCodeAt(0) >= charCodeZero && n.charCodeAt(0) <= charCodeNine);
        }

    </script>

}

@section header{
    <meta name="description" content="Edits a Knowledge Graph." />
}


