@page "{kgraph?}/{kstate?}"
@model Darl.GraphQL.Pages.GraphEditModel
@{
    ViewData["Title"] = "Graph Edit";
    Layout = "~/Pages/_layoutscrolling.cshtml";
}

<main role="main" class="pb-3" style="padding: 0px !important">
    <div class="space-70"></div>
    <div class="container-fluid" style="padding:20px; min-height:100vh">
        <div class="row">
            <div class="col-md-11 margin-b-40">
                <h3 id="graphTitle">ThinkBase Knowledge Graphs</h3>
            </div>
            <div class="col-md-1 margin-b-40">
                <button class="btn btn-info" id="settings"><i class="fa fa-gear"></i></button>
            </div>
        </div>

        <div class="row" id="fileHandling">
            <div class="col-md-6 margin-b-40">
                <p>Select a Knowledge Graph from your account to edit.</p>
                <label>Knowledge Graphs </label>
                <select id="kgmodel-dropdown" name="kgmodel-dropdown" class="dropdown"></select>
                <button id="kg-save" class="btn btn-info">Save</button>
                <button id="kg-copy" class="btn btn-info">Copy</button>
                <button id="kg-delete" class="btn btn-warning">Delete</button>
            </div>
            <div class="col-md-6 margin-b-40">
                <label>Or create a new Knowledge Graph - choose a unique name.</label>
                <input id="kg-input" name="kgmodelname" class="form-control">
                <button id="kg-create" class="btn btn-info">Create</button>
            </div>
        </div>
        <div class="row d-none" id="demohandling">
            <div class="col-md-6 margin-b-40">
                <label>Demo Knowledge Graphs </label>
                <select id="kgdemo-dropdown" name="kgdemo-dropdown" class="dropdown"></select>
            </div>
        </div>
        
        <div class="space-90"><hr /></div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#real" role="tab" aria-controls="home" aria-selected="true">Real</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#virtual" role="tab" aria-controls="profile" aria-selected="false">Virtual</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#recognition" role="tab" aria-controls="contact" aria-selected="false">Recognition</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="conversation-tab" data-toggle="tab" href="#conversation" role="tab" aria-controls="conversation" aria-selected="false">Conversation</a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link" id="dynamic-tab" data-toggle="tab" href="#dynamic" role="tab" aria-controls="dynamic" aria-selected="false">Dynamic sources</a>
            </li>
        -->
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="real" role="tabpanel" aria-labelledby="home-tab">
                <div id="real-header" class="row d-none">
                    <div class="form-inline pull-right col-md-3">
                        <button id="real-fit" class="btn btn-info form-control-sm" title="fit"><i class="fa fa-square"></i></button>
                        <button id="real-find" class="btn btn-info form-control-sm" title="search"><i class="fa fa-search"></i></button>
                        <button id="real-help" class="btn btn-info form-control-sm" title="help"><i class="fa fa-info"></i></button>
                        <button id="real-time" class="btn btn-info form-control-sm" title="set time"><i class="fa fa-clock"></i></button>
                        <button id="real-settings" class="btn btn-info form-control-sm" title="settings"><i class="fa fa-gear"></i></button>
                        <button id="real-description" class="btn btn-info form-control-sm" title="description"><i class="fa fa-clipboard-list"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-b-40" id="realgraph" style="width: 800px; height: 800px; display: block;">
                    </div>
                    <div id="loading" class="loaded">
                        <span class="fa fa-refresh fa-spin"></span>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="virtual" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                    <div class="col-md-12 margin-b-40" id="virtualgraph" style="width: 800px; height: 800px; display: block;">
                        <button id="virtual-fit" class="btn btn-info form-control-sm"><i class="fa fa-square"></i></button>
                        <button id="virtual-settings" class="btn btn-info form-control-sm" title="settings"><i class="fa fa-gear"></i></button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="recognition" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-md-12 margin-b-40">
                        <button id="rec-fit" class="btn btn-info form-control-sm"><i class="fa fa-square"></i></button>
                        <button id="rec-addroot" class="btn btn-info form-control-sm"><i class="fa fa-project-diagram"></i></button>
                        <button id="rec-settings" class="btn btn-info form-control-sm" title="settings"><i class="fa fa-gear"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-b-40" id="recognitiongraph" style="width: 800px; height: 800px; display: block;">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="conversation" role="tabpanel" aria-labelledby="conversation-tab">
                <div class="row">
                    <div class="col-md-6 margin-b-40" id="statelist">
                        <p>Knowledge states</p>
                        <button id="conv-newstate" class="btn btn-info form-control-sm"><i class="fa fa-plus-square"></i></button>
                        <label>local recent states</label>
                        <select id="conv-recent-dropdown" class="dropdown"></select>
                        <hr />
                        <p>Data</p>
                        <pre id="kstate"></pre>
                    </div>
                    <div class="col-md-6 margin-b-40" id="chatcontainer">
                        <p>Conversation</p>
                        <div class="mesgs">
                            <div class="msg_history">
                            </div>
                            <div class="type_msg">
                                <div class="input_msg_write">
                                    <input type="text" id="msg_input" class="write_msg" placeholder="Type a message" />
                                    <button class="msg_send_btn" id="msg_send_btn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="dynamic" role="tabpanel" aria-labelledby="dynamic-tab">
            </div>
        </div>
        </div>
    <div id='kgurl' data-kgurl="@RouteData.Values["kgraph"]"></div>
    <div id='kstate' data-ksurl="@RouteData.Values["kstate"]"></div>
</main>


@section StyleSheets
{
    <bundle name="wwwroot/bundles/kgraph.min.css" />
    <link rel="stylesheet" href="/GraphEdit/GraphEdit.css" />
"
}

@section Scripts
{
    <bundle name="wwwroot/bundles/kgraph.min.js" />
}
@section header{
    <meta name="description" content="Displays and edits a ThinkBase Knowledge Graph." />
}


