@page
@model Darl.GraphQL.Pages.voyagerModel
@{
    if (Environment.GetEnvironmentVariable("DOTNET_RUNNING_IN_CONTAINER") == "true")
        Layout = "~/Pages/_layoutContainer.cshtml";
    else
        Layout = "~/Pages/_layout.cshtml";   
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12  ">
        <iframe style="width: 100vw;height: 90vh;position: relative;" src="ui/voyager" frameborder="0" allowfullscreen align="top"></iframe>
    </div>
</div>

@section header{
    <meta name="description" content="Interact with the DARL GraphQL API using the Voyager interface." />
}


